body {
    background-color: whitesmoke;
    font-family: 'Libre Baskerville', serif;
    box-sizing: border-box;
  }


  .title {
    color: rgb(48, 48, 48);
    text-shadow: 1px 0 10px #838383;
  }

  .stop {
    font-size: 80px;
    opacity: 100%;
  }

  .ruining {
    padding-left: 100px;
    font-size: 100px; 
  }

  .starry {
    padding-left: 200px;
    font-size: 200px;
  }

  .nights {
    padding-left: 300px;
    font-size: 100px;
  }

  .stop:hover, .ruining:hover, .starry:hover, .nights:hover, .author:hover {
    font-style: italic;
    opacity: 0%;
    transition: opacity 0.2s;
  }

  .author {
    font-size: 30px;
    padding-left: 550px;
    text-shadow: 1px 0 10px #838383;
  }

  a {
    color: #838383;
    text-decoration: none;
    padding-left: 550px;
    text-shadow: 1px 0 10px #838383;
   }
   
