body {
    background-color: whitesmoke;
    font-family: 'Libre Baskerville', serif;
    margin: 50px;
    box-sizing: border-box;
  }

  .title {
    color: rgb(48, 48, 48);
    text-shadow: 1px 0 10px #838383;
  }

  .stop {
    font-size: 40px;
    opacity: 100%;
  }

  .ruining {
    padding-left: 100px;
    font-size: 60px; 
  }

  .starry {
    padding-left: 200px;
    font-size: 80px;
  }

  .nights {
    padding-left: 300px;
    font-size: 100px;
  }

  .stop:hover, .ruining:hover, .starry:hover, .nights:hover {
    font-style: italic;
    opacity: 0%;
    transition: opacity 0.2s;
  }

  .author {
    font-size: 30px;
    text-shadow: 1px 0 10px #838383;
  }

  .author:hover, .note:hover, a:hover {
    opacity: 0%;
    transition: opacity 0.2s;
  }

  .note {
    font-size: 15px;
    color: #838383;
  }

  a {
    color: #B4B4B4;
    text-decoration: none;
    text-shadow: 1px 0 10px #838383;
   }
   
