body {
    color: black;
    background-color: whitesmoke;
    font-family: 'Libre Baskerville', serif;
    box-sizing: border-box;
    font-size: 20px;
    overflow-x: scroll;
  }

  ::-moz-selection { /* Code for Firefox */
    color: #B4B4B4;
    background: whitesmoke;
  }
  
  ::selection {
    color: #B4B4B4;
    background: whitesmoke;
  }

  .text{
    border: 1px solid black;
    height: 680px;
    width: 50%;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .one, .two, .three, .four {
    color: #B4B4B4;
    text-shadow: 0 0 4px #EFEFEF;
    
   }

   .one:hover, .two:hover, .three:hover, .four:hover, .five:hover {
    color: #EFEFEF;
    text-shadow: 0 0 1px white;
   }

   a {
    color: #B4B4B4;
    text-decoration: none;
   }

   a:hover {
    color: #EFEFEF;
    text-shadow: 0 0 1px white;
   }
