body {
  color: white;
  background-color: black;
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
  margin: 50px;
}

body:hover {
  background-color: gray;
  color: gray;
  transition: 0.2s;
}

.cursor {
  pointer-events: none;
  position: fixed;
  padding: 0.9rem;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

span {
  color: white;
}

span:hover {
  text-shadow: 1px 0 20px rgb(211, 211, 211);
  color: white;
}

.container {
  display: grid;
  /* grid-template-columns: repeat(6, 1fr); */
  grid-gap: 10px;
  grid-auto-rows: 60px;
}

.click1 {
  font-size: 4vh;
  grid-column: 1;
  grid-row: 1;
}

.everyone {
  grid-column: 2;
  grid-row: 7;
  font-size: 4vh;
}

.study {
  grid-column: 1/2;
  grid-row: 22;
  font-size: 2vh;
}

.growing {
  grid-column: 3;
  grid-row: 28;
  font-size: 2vh;
}

.water {
  grid-column: 2;
  grid-row:35;
  font-size: 2vh;
}

.explanations {
  grid-column: 3;
  grid-row: 42;
  font-size: 4vh;
}

.excessive {
  grid-column: 1;
  grid-row: 46;
  font-size: 4vh;
}

.IDA {
  grid-column: 2;
  grid-row: 50;
  font-size: 2vh;
}

.known {
  grid-column: 4;
  grid-row: 57;
  font-size: 2vh;
}

.skyglow {
  grid-column: 3;
  grid-row: 64;
  font-size: 2vh;
}

.click {
  grid-column: 2/4;
  grid-row: 69;
  font-size: 4vh;
}


a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-shadow: 0 0 1px white;
}
