body {
  color: rgb(185, 185, 185);
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
  padding: 50px;
  animation: pulse 8s infinite;
}

@keyframes pulse {
  0%, 100% {
    background-color: rgb(185, 185, 185);
  }
  50% {
    background-color: rgb(29, 29, 29);
  }
}

::selection {
  opacity: 0%;
}

.cursor {
  pointer-events: none;
  position: fixed;
  padding: 0.8rem;
  background-color: #fff;
  border-radius: 50%;
  mix-blend-mode: differences;
  transition: transform 0.3s ease;
}

span {
  color: white;
}

span:hover {
  text-shadow: 1px 0 20px rgb(211, 211, 211);
  color: white;
}

.container {
  display: grid;
  /* grid-template-columns: repeat(6, 1fr); */
  grid-gap: 10px;
  grid-auto-rows: 60px;
}

.click1 {
  grid-column: 1;
  grid-row: 1;
  font-size: 1.5vw;
}

.everyone {
  grid-column: 2;
  grid-row: 7;
  font-size: 1.5vw;
}

.study {
  grid-column: 1/2;
  grid-row: 22;
  font-size: 1.5vw;
}

.growing {
  grid-column: 3;
  grid-row: 28;
  font-size: 1.5vw;
}

.water {
  grid-column: 2;
  grid-row:35;
  font-size: 1.5vw;
}

.explanations {
  grid-column: 3;
  grid-row: 42;
  font-size: 1.5vw;
}

.excessive {
  grid-column: 1;
  grid-row: 46;
  font-size: 1.5vw;
}

.IDA {
  grid-column: 2;
  grid-row: 50;
  font-size: 1.5vw;
}

.known {
  grid-column: 4;
  grid-row: 57;
  font-size: 1.5vw;
}

.skyglow {
  grid-column: 3;
  grid-row: 64;
  font-size: 1.5vw;
}

.click {
  grid-column: 2/4;
  grid-row: 69;
  font-size: 1.5vw;
}


a {
  color: white;
  text-decoration: none;
  font-size: 2vw;
}

a:hover {
  color: white;
  text-shadow: 0 0 1px white;
}
