body {
  color: rgb(168, 168, 168);
  background-color: black;
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
  padding: 50px;
  text-align: center;
}

::selection {
  background: rgb(53, 53, 53);;
}


.cursor {
  pointer-events: none;
  position: fixed;
  padding: 0.8rem;
  background-color: #fff;
  border-radius: 50%;
  mix-blend-mode: difference;
  transition: transform 0.3s ease;
}

.cursor:hover {
  mix-blend-mode: difference;
}

.one:hover, .two:hover, .three:hover, .four:hover, .five:hover, .six:hover, .seven:hover, .eight:hover, .nine:hover, .ten:hover {
  transform: scale(2);
  text-shadow: 2px 0 30px rgb(211, 211, 211);
  color: white;
}

.click:hover {
  transform: scale(2);
  text-shadow: 1px 0 30px rgb(211, 211, 211);
  color: white;
}

.container {
  display: grid;
  /* grid-template-columns: repeat(6, 1fr); */
  grid-gap: 10px;
  grid-auto-rows: 60px;
}

.one {
  grid-column: 1;
  grid-row: 1;
  font-size: 1.5vw;
}

.two {
  grid-column: 2;
  grid-row: 7;
  font-size: 1.5vw;
}

.three {
  grid-column: 3;
  grid-row: 15;
  font-size: 1.5vw;
}

.four {
  grid-column: 4;
  grid-row: 20;
  font-size: 1.5vw;
}

.five {
  grid-column: 3;
  grid-row: 28;
  font-size: 1.5vw;
}

.click {
  grid-column: 2/4;
  grid-row: 40;
  font-size: 1.5vw;
}

a {
  text-decoration: none;
  color: rgb(168, 168, 168);
  font-size: 2vw;
}

a:hover {
  text-shadow: 1px 0 20px rgb(211, 211, 211);
  color: white;
}
