body {
  color: gray;
  background-color: black;
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
  margin: 50px;
  text-align: center;
}

body:hover {
  background-color: white;
  color: rgb(246, 246, 246);
}

.cursor {
  pointer-events: none;
  position: fixed;
  padding: 0.7rem;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.cursor:hover {
  mix-blend-mode: difference;
}

.one:hover, .two:hover, .four:hover, .five:hover, .six:hover, .seven:hover, .eight:hover, .nine:hover, .ten:hover {
  transform: scale(10);
  text-shadow: 1px 0 20px rgb(211, 211, 211);
  color: white;
}

.three:hover, .click:hover {
  transform: scale(4);
  text-shadow: 1px 0 20px rgb(211, 211, 211);
  color: white;
}

.container {
  display: grid;
  /* grid-template-columns: repeat(6, 1fr); */
  grid-gap: 10px;
  grid-auto-rows: 60px;
}

.one {
  font-size: 4vh;
  grid-column: 1;
  grid-row: 1;
}

.two {
  grid-column: 2;
  grid-row: 7;
  font-size: 2vh;
}

.three {
  grid-column: 3;
  grid-row: 15;
  font-size: 10vh;
}

.four {
  grid-column: 4;
  grid-row: 20;
  font-size: 2vh;
}

.five {
  grid-column: 3;
  grid-row: 28;
  font-size: 4vh;
}

.six {
  grid-column: 2;
  grid-row: 33;
  font-size: 4vh;
}

.seven {
  grid-column: 1;
  grid-row: 38;
  font-size: 2vh;
}

.eight {
  grid-column: 2;
  grid-row: 43;
  font-size: 2vh;
}

.nine {
  grid-column: 4;
  grid-row: 48;
  font-size: 2vh;
}

.ten {
  grid-column: 3/5;
  grid-row: 54;
  font-size: 2vh;
}

.click {
  grid-column: 2/4;
  grid-row: 60;
  font-size: 10vh;
}

a {
  text-decoration: none;
  color: rgb(246, 246, 246);
}

a:hover {
  text-shadow: 1px 0 20px rgb(211, 211, 211);
  color: white;
}
