body {
  color: rgb(0, 0, 0);
  background-color: whitesmoke;
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
  overflow-x: scroll;
}

  p{
    max-width: 55ch;
    max-width: 100%;
  }

.container {
  display: grid;
  /* grid-template-columns: repeat(6, 1fr); */
  grid-gap: 10px;
  grid-auto-rows: 60px;
}

.one {
  font-size: 33px;
  grid-column: 1;
  grid-row: 1;
}

.two {
  grid-column: 2;
  grid-row: 7;
  font-size: 28px;
}

.three {
  grid-column: 3;
  grid-row: 15;
  font-size: 26px;
}

.four {
  grid-column: 4;
  grid-row: 18;
  font-size: 22px;
}

.five {
  grid-column: 3;
  grid-row: 28;
  font-size: 20px;
}

.six {
  grid-column: 2;
  grid-row: 33;
  font-size: 16px;
}

.seven {
  grid-column: 1;
  grid-row: 38;
  font-size: 13px;
}

.eight {
  grid-column: 2;
  grid-row: 43;
  font-size: 12px;
}

.nine {
  grid-column: 3;
  grid-row: 48;
  font-size: 10px;
}

.ten {
  grid-column: 4;
  grid-row: 54;
  font-size: 8px;
}

.click {
  grid-column: 3;
  grid-row: 60;
  font-size: 6px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #EFEFEF;
  text-shadow: 0 0 1px white;
}
