body {
  color: white;
  background-color: black;
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
  margin: 50px;
}

::selection {
  opacity: 0%;
}

body:hover {
  background-color: rgb(170, 170, 170);
  color: rgb(170, 170, 170);
  transition: 0.2s;
}

.cursor {
  pointer-events: none;
  position: fixed;
  padding: 1rem;
  background-color: #fff;
  border-radius: 50%;
  mix-blend-mode: difference;
  transition: transform 0.3s ease;
}

span {
  color: white;
}

span:hover {
  text-shadow: 1px 0 20px white;
  color: white;
}

.container {
  display: grid;
  /* grid-template-columns: repeat(6, 1fr); */
  grid-gap: 10px;
  grid-auto-rows: 60px;
}

.one {
  grid-column: 3/5;
  grid-row: 1;
  font-size: 4vh;
}

.two {
  grid-column: 2;
  grid-row: 12;
  font-size: 4vh;
}

.three {
  grid-column: 1;
  grid-row: 23;
  font-size: 2vh;
}

.four {
  grid-column: 2;
  grid-row:30;
  font-size: 2vh;
}

.five {
  grid-column: 3;
  grid-row: 37;
  font-size: 4vh;
}

.six {
  grid-column: 4;
  grid-row: 50;
  font-size: 4vh;
}

.seven {
  grid-column: 3;
  grid-row: 65;
  font-size: 2vh;
}

.eight {
  grid-column: 2;
  grid-row: 72;
  font-size: 2vh;
}

.click {
  grid-column: 1;
  grid-row: 77;
  font-size: 4vh;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-shadow: 1px 0 20px white;
}
