body {
    color: black;
    background-color: whitesmoke;
    font-family: 'Libre Baskerville', serif;
    margin: 50px;
    box-sizing: border-box;
  }

  ::-moz-selection { /* Code for Firefox */
    color: #B4B4B4;
    background: whitesmoke;
  }
  
  ::selection {
    color: #B4B4B4;
    background: whitesmoke;
  }


  .one, .two, .three {
    color: #B4B4B4;
    text-shadow: 0 0 4px #EFEFEF;
   }

   .one:hover, .two:hover, .three:hover {
    color: #EFEFEF;
    text-shadow: 0 0 1px white;
   }

   a {
    color: #B4B4B4;
    text-decoration: none;
   }

   a:hover {
    color: #EFEFEF;
    text-shadow: 0 0 1px white;
   }
